<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Adicionar excepción</h2>
    </div>
</md-toolbar>

<md-content flex layout-padding class="md-padding">

    <form name="excepadd">
        <div layout-gt-sm="row">

            <md-input-container flex-gt-sm>
                <label>Bundles *</label>
                <md-select ng-model="bundle">
                    <md-option ng-repeat="b in info" ng-bind="b.NombreBundle"></md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Código de excepción *</label>
                <input ng-model="codigo" name="codExcep" ng-pattern="alphanumeric">

                <div ng-messages="excepadd.codExcep.$error">
                    <div ng-message="pattern">{{alphanumericMess}}</div>
                </div>
            </md-input-container>

            <md-checkbox ng-model="showprod" aria-label="Mostrar en producción">
                Mostrar en producción
            </md-checkbox>

        </div>

        <br/>

        <p> Traducciones *:</p>

        <md-input-container>
            <label>Idioma</label>
            <md-select ng-model="tIdioma" id="idioma">
                <md-option ng-repeat="i in idiomas" ng-bind="i.label"></md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label for="mensaje">Mensaje</label>
            <input type="text" id="mensaje" ng-model="tMensaje" name="mensaje" ng-pattern="mensDescrip">

            <div ng-messages="excepadd.mensaje.$error">
                <div ng-message="pattern">{{mensDescripMess}}</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label for="descripcion">Descripción</label>
            <input type="text" id="descripcion" ng-model="tDescrip" name="descrip" ng-pattern="mensDescrip">

            <div ng-messages="excepadd.descrip.$error">
                <div ng-message="pattern">{{mensDescripMess}}</div>
            </div>
        </md-input-container>

        <md-button class="add-tab md-primary md-raised"
                   ng-click="addTab(tIdioma,tMensaje,tDescrip)"
                   ng-disabled="!tIdioma || !tMensaje || !tDescrip" style="margin-right: 0;">Adicionar traducción
        </md-button>


        <md-tabs md-border-bottom md-autoselect>
            <md-tab ng-repeat="tab in tabs"
                    ng-disabled="tab.disabled"
                    label="{{tab.idioma}}">
                <div class="demo-tab tab{{$index%4}}" style="text-align: left;">

                    <br/>
                    <br/>

                    <div>
                        <strong>Idioma: </strong> {{tab.idioma}} <br/>
                        <strong>Mensaje: </strong> {{tab.mensaje}} <br/>
                        <strong>Descripción: </strong> {{tab.descrip}} <br/>
                    </div>
                    <br/>
                    <md-button class="md-primary md-raised" ng-click="removeTab( tab )"
                               ng-disabled="tabs.length <= 0">
                        Eliminar traducción
                    </md-button>
                </div>
            </md-tab>
        </md-tabs>

        <md-button ng-click="AdicionarClick()" class="md-raised md-primary"
                   ng-disabled="tabcount < 1 || !bundle || !codigo">
            Adicionar
        </md-button>

    </form>

</md-content>