<md-content flex layout-padding>
    <br/>

    <form name="gestExcep">
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm>
                <label>Bundle *</label>
                <md-select ng-model="bundle" ng-change="loadException()">
                    <md-option ng-repeat="b in info" ng-bind="b.NombreBundle"></md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex-gt-sm>
                <label>Excepciones {{bundle}} *</label>
                <md-select ng-model="excepcion" ng-disabled="!bundle" ng-change="loadTabs() && show_prod()">
                    <md-option ng-repeat="ex in exceptionsbundle" ng-bind="ex"></md-option>
                </md-select>
            </md-input-container>
        </div>

        <div>
            <strong ng-show="excepcion && bundle">
                Modificando excepción {{excepcion}} de {{bundle}}
            </strong>
            <br/>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Código de excepción *</label>
                    <input ng-disabled="!modificable" ng-model="codigo" ng-change="modif()" name="codExcep"
                           ng-pattern="alphanumeric">

                    <div ng-messages="gestExcep.codExcep.$error">
                        <div ng-message="pattern">{{alphanumericMess}}</div>
                    </div>
                </md-input-container>

                <md-checkbox ng-model="showprod" aria-label="Mostrar en producción" ng-disabled="!excepcion" flex-gt-sm
                             ng-change="modif()">
                    Mostrar en producción
                </md-checkbox>
            </div>

            <p> Traducciones *:</p>

            <md-input-container>
                <label>Idioma</label>
                <md-select ng-model="tIdioma" id="idioma">
                    <md-option ng-repeat="i in idiomas" ng-bind="i.label"></md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label for="mensaje">Mensaje</label>
                <input type="text" id="mensaje" ng-model="tMensaje" name="mensaje" ng-pattern="alphanumeric">

                <div ng-messages="gestExcep.mensaje.$error">
                    <div ng-message="pattern">{{alphanumericMess}}</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" ng-model="tDescrip" name="descrip" ng-pattern="alphanumeric">

                <div ng-messages="gestExcep.descrip.$error">
                    <div ng-message="pattern">{{alphanumericMess}}</div>
                </div>
            </md-input-container>

            <md-button style="text-transform: none"
                       class="add-tab md-primary md-raised" ng-click="addTab(tIdioma,tMensaje,tDescrip)"
                       ng-disabled="!tIdioma || !tMensaje || !tDescrip"
                       style="margin-right: 0;">Adicionar traducción
            </md-button>


            <md-tabs ng-disabled="!modificable" md-border-bottom md-autoselect>
                <md-tab ng-repeat="tab in tabs"
                        ng-disabled="tab.disabled"
                        label="{{tab.idioma}}">
                    <div class="demo-tab tab{{$index%4}}" style="text-align: left;">
                        <br/>
                        <br/>

                        <div>
                            <strong>Idioma: </strong> {{tab.idioma}} <br/>
                            <strong>Mensaje: </strong> {{tab.mensaje}} <br/>
                            <strong>Descripción: </strong> {{tab.descrip}} <br/>
                        </div>
                        <br/>

                        <md-button style="text-transform: none"
                                   class="md-primary md-raised" ng-click="removeTab( tab )"
                                   ng-disabled="tabs.length <= 0">
                            Eliminar traducción
                        </md-button>
                    </div>
                </md-tab>
            </md-tabs>

        </div>

        <div>
            <md-button style="text-transform: none"
                       ng-click="guardarCambios()" ng-disabled="!wasmodified ||tabcount < 1 || !codigo"
                       class="md-raised md-primary">
                Modificar excepción
            </md-button>
        </div>
    </form>

</md-content>